<% layout('layout') -%>
<% if(!authenticated) { %>
  <% include ../partials/navbar %>
<% }; %>
<% if(authenticated && !isAdmin) { %>
  <% include ../partials/navbarUser %>
<% }; %>
<% if(authenticated && isAdmin) { %>
  <% include ../partials/navbarAdmin %>
<% }; %>
<div class="container">
  <h1> <%= mess %> </h1>
  <table class="highlight responsive-table centered">
    <thead>
      <tr>
          <th data-field="id">ID</th>
          <th data-field="name">Name</th>
          <th data-field="price">Description</th>
      </tr>
    </thead>

    <tbody>
      <% projects.forEach(function(p) { %>
          <tr>
            <td><%= p.id %></td>
            <td><%= p.name %></td>
            <td><%= p.description %></td>
            <td>
              <a class="waves-effect waves-light btn" href='/projects/<%= p.id %>'>
                <i class="material-icons right">launch</i>Détails
              </a>
            </td>
            <% if(p.owner == owner) { %>
              <td>
                <a class="waves-effect waves-light btn" href='/projects/<%= p.id %>/update'>
                  <i class="material-icons right">mode_edit</i>
                </a>
              </td>
              <td>
                <form method="post" action="/projects/<%= p.id %>/delete">
                  <button class="btn waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons right">delete</i>
                  </button>
                </form>
              </td>
            <% }; %>
          </tr>
      <% }); %>
    </tbody>
  </table>
</div>
