<% layout('layout') -%>
<h1> Project </h1>
<h2>Details</h2>
<ul>
  <li>ID : <%= project.id %></li>
  <li>Nom : <%= project.name %></li>
  <li>Description : <%= project.description %></li>
  <li>Max participants : <%= project.maxHelpers %></li>
  <li>Date de début : <%= project.start %></li>
  <li>Date de fin : <%= project.end %></li>
  <li>Pourcentage finition : <%= project.achievment %></li>
  <li>Rank : <%= project.rank %></li>
  <li>Owner : <%= project.owner %></li>
</ul>
