<% layout('layout') -%>
<h2><%= user %></h2>

<!--
// todo: adapt to display user infos
<div class="container" id="card-container">
  <div class="row">
    <div class="card col l6 offset-l3 center-align" id="my-card">
      <div class="card-header">
        <h2 class="card-title header grey-text"><strong><%= project.name %></strong></h2>
      </div>
      <div class="card-content">
        <div class="section">
          <i class="material-icons">description</i>Description
          <br>
          <%= project.description %>
        </div>
        <div class="divider"></div>
        <div class="section">
          <i class="material-icons">perm_identity</i>Max participants
          <br>
          <%= project.maxHelpers %>
        </div>
        <div class="divider"></div>
        <div class="section">
          <i class="material-icons">schedule</i>Date de début
          <br>
          <%= project.start %>
        </div>
        <div class="divider"></div>
        <div class="section">
          <i class="material-icons">av_timer</i>Date de fin
          <br>
          <%= project.end %>
        </div>
        <div class="divider"></div>
        <div class="section">
          <i class="material-icons">info</i>Pourcentage finition
          <br>
          <%= project.achievment %> %
        </div>
        <div class="divider"></div>
        <div class="section">
          <i class="material-icons">verified_user</i>Rang requis
          <br>
          <%= rank.name %>
        </div>
        <div class="divider"></div>
        <div class="section">
          <i class="material-icons">supervisor_account</i>Owner
          <br>
          <%= user.firstName %> <%= user.lastName %>
        </div>
      </div>
      <div class="card-footer">
        <p>Ce projet vous intéresse ?</p>
        <a class="waves-effect waves-light btn" href='/projects/<%= project.id %>/pseudo'>Participez !</a>
      </div>
    </div>
  </div>
</div>
-->
